.core{

    background-color: black;
    color: rgb(255, 214, 160);
    height:100%;
    padding: 5%;

}
.core h1{
    text-align: center;
    font-family: "Amaranth", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 4px;
  font-size: 300%;
}
.core-skill ul{
    list-style-type: none;
    text-align: center;
    font-size: 150%;
    letter-spacing: 2px;
    line-height: 200%;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.typing{
    color: #fff;
  font-size:30px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(30, end) 3,
    blink-caret .5s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent}
  }