.hero {
  background-color: black;
 
  

  text-align: center;
  color: rgb(12, 206, 231);
  height: 100%;
}


 .hero-content {
  
  text-align: center;
  padding: 5%;

  
}
 .hero-content h3 {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;

  font-style: normal;
  letter-spacing: 3px;
  color: rgb(229, 216, 140);
  font-size: 40px;
 
}
 .hero-content h1{
    
        font-family: "Ribeye", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
       
      
      
}
 .hero-content span{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(204, 238, 80);
   
}






/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #af3b3b;
 
  font-size:30px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent}
}